{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'animals.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css'%}">
    <title>Animals Website</title>
</head>
<body class="body">
 <div class="animal">
     
 </div>
 <h1 class="title_name">DOMESTIC ANIMAL MARKETING</h1>
    {%block content%}
    
    {%endblock content%}
</body>
</html>